<ion-view cache-view="false" view-title="{{ currentUser.name }}">
	<ion-nav-buttons side="secondary">
		<button class="button" ng-if="currentUser" ng-click="addWirdDialog($event)">
			<i class="icon ion-plus-circled"></i>  {{ 'ADD_WIRD' | translate }}
		</button>
	</ion-nav-buttons>
	<ion-content ng-class="'content-' + appTheme.class">
		<div ng-hide="currentUser" class="center">
			<div class="row">
				<div class="col">
					<button class="button button-block button-calm" ng-click="addUserDialog()">
						<i class="icon ion-plus-circled"></i> {{ 'ADD_NEW_USER' | translate }}
					</button>
				</div>
			</div>
		</div>
		<div ng-repeat="wird in currentUser.wirds | limitTo:view.limit track by $index" class="card">
			<div class="item item-divider" ng-class="'item-' + appTheme.class">
				<span translate="{{wird.title}}"></span>
				<span class="item-note">

					<span translate="LAST_READ"></span>:
					<span ng-show="wird.lastRead">{{ wird.lastRead | localizeDate }}</span>
					<span ng-hide="wird.lastRead" translate="NEVER"></span>

					<span ng-if="wird.rating" class="ion-ios-circle-filled"
					ng-class="{ 'assertive': wird.rating === 'POOR',
					 'energized': wird.rating === 'WEAK',
					 'positive': wird.rating === 'OKAY',
					 'balanced': wird.rating === 'PERFECT' }"></span>
				</span>
			</div>
			<div class="item item-text-wrap item-main" ng-class="'item-' + appTheme.class" ng-show="$index === 0">
				<div class="button-bar">
					<a class="button button-outline button-small button-assertive" ng-click="markRead($index, 'POOR')" translate="POOR"></a>
					<a class="button button-outline button-small button-energized" ng-click="markRead($index, 'WEAK')" translate="WEAK"></a>
					<a class="button button-outline button-small button-positive" ng-click="markRead($index, 'OKAY')" translate="OKAY"></a>
					<a class="button button-outline button-small button-balanced" ng-click="markRead($index, 'PERFECT')" translate="PERFECT"></a>
				</div>
			</div>
			<div class="item item-divider" ng-class="'item-' + appTheme.class" ng-show="$index === 0">
				<button class="button button-small" ng-class="'button-' + appTheme.class" ng-click="openWird(wird)">
					<i class="icon ion-ios-book-outline"></i> {{ 'READ' | translate }}
				</button>
				<span class="item-note">
					<button class="button button-small" ng-class="'button-' + appTheme.class" ng-click="removeWird($index)">
						<i class="icon ion-minus-circled"></i> {{ 'DELETE' | translate }}
					</button>
				</span>
			</div>
		</div>
		<ion-infinite-scroll distance="2"
		on-infinite="loadMoreData('limit', 10)"
		ng-if="currentUser.wirds.length > view.limit"></ion-infinite-scroll>
	</ion-content>
</ion-view>