<ion-view cache-view="false" view-title="{{ currentUser.name }}">
	<ion-nav-buttons side="secondary">
		<button class="button" ng-if="currentUser" ng-click="addWirdDialog($event)">
			<i class="icon ion-plus-circled"></i>  {{ 'ADD_WIRD' | translate }}
		</button>
	</ion-nav-buttons>
	<ion-content ng-class="'content-' + appTheme.class">
		<ion-refresher ng-if="false"
			pulling-text="Pull to view stats..."
			on-refresh="showStats()">
		</ion-refresher>
		<!-- No user -->
		<div ng-if="!currentUser" class="center">
			<div class="row">
				<div class="col">
					<button class="button button-block button-calm" ng-click="addUserDialog()">
						<i class="icon ion-plus-circled"></i> {{ 'ADD_NEW_USER' | translate }}
					</button>
				</div>
			</div>
		</div>
		<!-- User but no wird -->
		<div ng-if="currentUser && !currentUser.wirds.length">
			<div class="row">
				<div class="col">
					<div class="bubble bubble-top-left">{{ 'ADD_USERS_INSTRUCTIONS' | translate }}</div>
				</div>
				<div class="col">
					<div class="bubble bubble-top-right">{{ 'ADD_WIRDS_INSTRUCTIONS' | translate }}</div>
				</div>
			</div>
		</div>
		<!-- User and wirds -->
		<stat-bar stats="stats" total="currentUser.wirds.length" ng-if="currentUser.wirds.length"></stat-bar>
		<div ng-repeat="wird in currentUser.wirds | limitTo:view.limit track by $index"
		class="card" ng-style="{ 'opacity': (view.limit - $index) < 3 ? (view.limit - $index) * 0.3 : 1 }">
			<div class="item item-divider" ng-class="'item-' + appTheme.class">
				<div class="wird-info">
					<div translate="{{wird.title}}"></div>
					<div class="wird-details">
						<span ng-if="wird.id >= 2000" translate="{{ wird.startPage | surahName }}"></span>
						{{ wird.startPage }} - {{ wird.endPage }}
					</div>
				</div>
				<span class="item-note">

					<span translate="LAST_READ"></span>:
					<span ng-if="wird.lastRead">{{ wird.lastRead | localizeDate }}</span>
					<span ng-if="!wird.lastRead" translate="NEVER"></span>

					<span ng-if="wird.rating" class="ion-ios-circle-filled"
					ng-class="{ 'assertive': wird.rating === 'POOR',
					 'energized': wird.rating === 'WEAK',
					 'positive': wird.rating === 'OKAY',
					 'balanced': wird.rating === 'PERFECT' }"></span>
				</span>
			</div>
			<div class="item item-text-wrap item-main" ng-class="'item-' + appTheme.class" ng-if="$index === 0">
				<div class="button-bar">
					<a class="button button-outline button-small button-assertive" ng-click="markRead($index, 'POOR')" translate="POOR"></a>
					<a class="button button-outline button-small button-energized" ng-click="markRead($index, 'WEAK')" translate="WEAK"></a>
					<a class="button button-outline button-small button-positive" ng-click="markRead($index, 'OKAY')" translate="OKAY"></a>
					<a class="button button-outline button-small button-balanced" ng-click="markRead($index, 'PERFECT')" translate="PERFECT"></a>
				</div>
			</div>
			<div class="item item-divider" ng-class="'item-' + appTheme.class">
				<button class="button button-small" ng-class="'button-' + appTheme.class" ng-click="openWird(wird)">
					<i class="icon ion-ios-book-outline"></i> {{ 'READ' | translate }}
				</button>
				<span class="item-note">
					<button class="button button-small" ng-class="'button-' + appTheme.class" ng-click="removeWird($index)">
						<i class="icon ion-minus-circled"></i> {{ 'DELETE' | translate }}
					</button>
				</span>
			</div>
		</div>

		<div class="row" ng-if="view.limit < currentUser.wirds.length">
			<div class="col">
				<button class="button button-outline button-block button-stable"
								ng-click="loadMoreData('limit', 20)">
					{{ 'LOAD_MORE' | translate }}
				</button>
			</div>
		</div>

	</ion-content>
	<div class="bar bar-footer" ng-if="progress.percent"
			ng-class="'bar-' + appTheme.class" style="position: fixed; bottom: 0;">
		<progress-bar progress="progress"></progress-bar>
	</div>
</ion-view>