<ion-side-menus enable-menu-with-back-views="true">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-dark">
			<ion-nav-back-button>
			</ion-nav-back-button>

			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left">
		<ion-header-bar ng-class="'bar-' + appTheme.class">
			<h1 class="title">
				{{ 'USERS' | translate }}
			</h1>
			<button class="button" ng-click="view.ordering = !view.ordering"
				ng-if="users.length > 1"
				ng-class="{ 'button-assertive button-outline': view.ordering }">
				<i class="icon ion-arrow-move"></i> {{ "REORDER" | translate }}
			</button>
		</ion-header-bar>
		<ion-content ng-class="'content-' + appTheme.class">
			<ion-list show-reorder="view.ordering">
				<ion-item menu-close ng-repeat="user in users track by $index"
				class="item item-{{appTheme.class}}"
				ng-click="setCurrentUser(user)"
				ng-class="{ 'active': user === currentUser }">
					<i class="icon ion-edit" ng-click="userDialog(user)"></i> &nbsp; {{ user.name }}
					<ion-reorder-button class="ion-navicon" on-reorder="moveItem(user, $fromIndex, $toIndex)">
					</ion-reorder-button>
				</ion-item>
				<ion-item menu-close ng-click="userDialog()" class="item" ng-class="'item-' + appTheme.class">
					<i class="icon ion-plus-circled"></i> &nbsp; {{ 'ADD_NEW_USER' | translate }}
				</ion-item>
			</ion-list>
			<ion-list class="bottom-list">
				<ion-item menu-close ng-click="openSettings()" class="item" ng-class="'item-' + appTheme.class">
					<i class="icon ion-android-settings"></i> &nbsp; {{ 'SETTINGS' | translate }}
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>