<ion-view cache-view="false" view-title="{{ userId ? 'EDIT_USER' : 'ADD_NEW_USER' | translate }}">
	<ion-content ng-class="'content-' + view.state.ui.currentTheme.class">
		<div class="list">
			<label class="item item-{{view.state.ui.currentTheme.class}} item-input">
				<input type="text" placeholder="Name" ng-model="user.name">
			</label>
		</div>
		<div class="padding row">
			<div class="col" ng-class="{ 'col-25': !confirmed, 'col-50': confirmed }">
				<button class="button button-block button-outline button-assertive" ng-click="deleteUser()"
					ng-if="userId">
					<i class="icon ion-trash-b" ng-if="!confirmed"></i>
					<span ng-if="confirmed">Are you sure?</span>
				</button>
			</div>
			<div class="col col-25" ng-class="{ 'col-offset-25': !confirmed }">
				<button class="button button-block button-outline" ng-click="goBack()"
					translate="CANCEL"></button>
			</div>
			<div class="col col-25">
				<button class="button button-block button-outline button-positive" ng-click="saveUser()"
					translate="OK"></button>
			</div>
		</div>
	</ion-content>
</ion-view>