<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">{{ editUser ? 'Edit ' + editUser.name : 'Add User' }}</h1>
		<button class="button" ng-click="closeModal()">
			<i class="icon ion-ios-close"></i>
		</button>
	</ion-header-bar>
	<ion-content>
		<div class="list">
			<label class="item item-input">
				<input type="text" placeholder="Name" ng-model="editUser.name">
			</label>
		</div>
		<div class="padding row">
			<div class="col col-25">
				<button class="button button-block button-outline button-assertive" ng-click="deleteUser(editUser)" ng-if="editUser">
					<i class="icon ion-trash-b"></i>
				</button>
			</div>
			<div class="col col-25 col-offset-25">
				<button class="button button-block button-outline" ng-click="closeModal()">Cancel</button>
			</div>
			<div class="col col-25">
				<button class="button button-block button-outline button-positive" ng-click="saveUser(editUser)">OK</button>
			</div>
		</div>
	</ion-content>
</ion-modal-view>